*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('ekran5.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: 100% 100%;
  	background-color: rgba(255,255,255,0.6);
 	background-blend-mode: lighten;
 	position: relative;
}


