*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('ekran6.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: 100% 100%;
  	background-color: rgba(255,255,255,0.6);
 	background-blend-mode: lighten;
 	position: relative;
}

.container .head{
	top: 5%;
  	width: 100%;
  	text-align: center;
  	font-size: 18px;
	
}

.container .head h1{
	color: red;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.container .forum{
	margin-top: 30px;
	margin-left: 150px;
}

#div1 p{
	font-size: 30px;
	position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
    
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin: 150px;
}

.container .forum .div6{
	position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
	
	display: flex;
  	justify-content: center;
  	align-items: center;
  
	margin-top: 10px;
	height:250px;
  	width: 600px;
  	border: 1px solid green;
  	
  	background-color: green;  	
}

.container .forum .div6 p{
	color: white;
	font-size: 30px;
	text-align: center;
}