<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ekran 2</title>
	<link rel="stylesheet" href="/style2.css">
</head>

<body>
	<div class="center">
		<h1>Kargo Hareket Giriş Listeleme Ekranı</h1>
		<h2>Kargonun teslim edilmesini istediğiniz ilçeyi seçiniz</h2>	
	</div>
	
	<div class="forum">
		<form action="takeIlce">
			<select name="ilce">
    			<option>Ataşehir</option>
    			<option>Bahçelievler</option>
    			<option>Bakırköy</option>
    			<option>Beşiktaş</option>
    			<option>Beyoğlu</option>
    			<option>Çekmeköy</option>
    			<option>Fatih</option>
    			<option>Kadıköy</option>
    			<option>Ümraniye</option>
    			<option>Üsküdar</option>
  			</select>
  			<br><br>
  			<input id="tamam" type="submit">	
		</form>			
	</div>
	
</body>
</html>